name: Scan

permissions: {}

# Run on pushes to any branch and pull requests
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['**']

jobs:
  scan-fs:
    name: Fs scan code
    runs-on: ubuntu-slim
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: write
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          version: 'v0.67.2'
          scan-type: 'fs'
          scanners: 'vuln,secret,misconfig'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a
        if: success() || failure()
        with:
          sarif_file: trivy-results.sarif
          category: 'trivy-fs'

  scan-images:
    name: Build and scan code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cfg_preset: ['testnet-02']
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: write
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0

      - name: Scan images
        env:
          CFG_PRESET: ${{ matrix.cfg_preset }}
        run: ./.github/scan.sh

      - name: Upload to GitHub Security
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a  #CodeQL Bundle v2.23.6
        with:
          sarif_file: 'scan_reports'
          category: 'trivy-images'
