name: Scan

permissions: {}

# Run on pushes to any branch and pull requests
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['**']

jobs:
  scan:
    name: Scan code & configs with Trivy
    runs-on: ubuntu-latest
    permissions:
      contents: read             # we only need to checkout code
      actions: read              # to query workflows/runs
      statuses: write
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          version: 'v0.67.2'
          scan-type: 'config'
          scan-ref: '.'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a
        if: success() || failure()
        with:
          sarif_file: results.sarif
          category: 'trivy'
